body {
	font-family:'Raleway', sans-serif;
}
h1 {
	font-family:'Lobster', sans-serif;
	font-size:80px;
}

.mental-distress, .genders {
	list-style:none;
	padding:0;
	max-width:400px;
}

.mental-distress li, .genders li {
	position:relative;
	margin: 0  0 2px 0;
	padding:.5em;
}
.mental-distress em, .genders em {
	display:block;
	margin-left:2em;
}

.mental-distress li span, .genders li span {
	position: absolute;
	bottom:0;
	left:0;
	display:block;
	height:100%;
	padding-left:.2em;
	line-height:2.1;
	background:lavender;
	z-index:-2;
}
.ethnicity {
	list-style:none;
	padding:0;
	display:block;
}
.ethnicity li {
	position:relative;
	float:left;
	height:5em;
	width:100px;
	margin:0 2px 0 0;
	text-align:center;
}

.ethnicity em {
	position:absolute;
	text-align:center;
	display:block;
	width:100%;
	bottom:-1em;
	left:0;
}

.ethnicity li span {
	position: absolute;
	bottom:0;
	left:0;
	height:100%;
	display:block;
	width:100%;
	background:lavender;
	z-index:-2;
}